/*
 Steven Roseman
 MIU
 Term 1303
 Project 1
 */

ul.style{
    border: 1px solid black;
    padding: 20px;
    background-color: #ceaeae;
}

ul li{
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px 15px;
    background-color: white;
    text-align: center;
    
}

body{
    background: silver;
}

ul{
    visibility: none;
    list-style: none;
}


h1 {
    margin: 0px;
    padding: 1px;
    background: #aa7f7f;
    font: 28px Arial;
    font-weight: bold;
    text-align: center;
    
    
    
    
}

h2{
    border: 1px solid black;
    text-align: center;
    box-shadow: 3px 3px 4px #000;
}

h3{
    border-radius: 10px 10px;
    padding: 5px;
    background: #aa7f7f;
    width: 150px;
    font: 14px Futura; 
}

figcaption.input{
    border: 1px solid black;
    border-radius: 5px 5px;
}



p {
    color: white;
    font: 12px Futura;
    text-align: right;
    line-height: 1.2em;
    
}

legend{
    font-weight: bold;
}

div {
    background: white;
    border-radius: 5px 5px;
    
}

section{
    margin-right: 0px;
}


a{text-decoration: none;}
a:hover{color:gray;outline:none;}